body {
    font-family: Arial;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.periodic {
    position: relative;
    height: 100vh;
    margin-right: -1px;
    text-shadow: none;
}

.periodic-row {
    clear: both;
    height: 7%;
}

.cell {
    float: left;
    position: relative;
    width: 5.55%;
    height: 100%;
}

.element {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1px;
    right: 1px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    cursor: default;
    pointer-events: none;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    background-color: rgba(0, 128, 128, 0.6);
}

.cell .element.active,
.cell:hover .element {
    border-color: rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(3, 3);
    -ms-transform: scale(3, 3);
    transform: scale(3, 3);
    z-index: 1;
    background-color: rgba(0, 128, 128, 0.9);
}

.at_weight,
.at_num,
.at_details {
    position: absolute;
    font-size: 4px;
    color: rgba(255, 255, 255, 0.6);
    opacity: 0;
}

.at_num {
    top: 2px;
    right: 2px;
}

.at_weight {
  top: 2px;
  left: 2px;
}

.symbol {
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    font-size: 12px;
    font-family: monospace;
    color: rgba(255, 255, 255, 0.9);
}

.at_details {
    text-align: center;
    bottom: 1px;
    left: 0;
    right: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cell:nth-child(-n+2) .element,
.cell:nth-child(n+13) .element {
    background-color: rgba(0, 160, 96, 0.6);
}

.cell:nth-child(1) .element,
.periodic-row:nth-child(2) .cell:nth-child(n+14) .element,
.periodic-row:nth-child(3) .cell:nth-child(n+15) .element,
.periodic-row:nth-child(4) .cell:nth-child(n+16) .element,
.periodic-row:nth-child(5) .cell:nth-child(n+17) .element {
    background-color: rgba(0, 192, 64, 0.6);
}

.periodic-row:nth-child(-n+6) .cell:nth-child(18) .element {
    background-color: rgba(64, 192, 0, 0.6);
}

.periodic-row:nth-child(n+9) .element {
    background-color: rgba(0, 96, 160, 0.6);
}

.cell:nth-child(-n+2) .element.active,
.cell:nth-child(n+13) .element.active,
.cell:nth-child(-n+2):hover .element,
.cell:nth-child(n+13):hover .element {
    background-color: rgba(0, 160, 96, 0.9);
}

.cell:nth-child(1) .element.active,
.cell:nth-child(1):hover .element,
.periodic-row:nth-child(2) .cell:nth-child(n+14) .element.active,
.periodic-row:nth-child(3) .cell:nth-child(n+15) .element.active,
.periodic-row:nth-child(4) .cell:nth-child(n+16) .element.active,
.periodic-row:nth-child(5) .cell:nth-child(n+17) .element.active,
.periodic-row:nth-child(2) .cell:nth-child(n+14):hover .element,
.periodic-row:nth-child(3) .cell:nth-child(n+15):hover .element,
.periodic-row:nth-child(4) .cell:nth-child(n+16):hover .element,
.periodic-row:nth-child(5) .cell:nth-child(n+17):hover .element {
    background-color: rgba(0, 192, 64, 0.9);
}

.periodic-row:nth-child(-n+6) .cell:nth-child(18) .element.active,
.periodic-row:nth-child(-n+6) .cell:nth-child(18):hover .element {
    background-color: rgba(64, 192, 0, 0.9);
}

.periodic-row:nth-child(n+9) .cell .element.active,
.periodic-row:nth-child(n+9) .cell:hover .element {
    background-color: rgba(0, 96, 160, 0.9);
}

.cell:nth-child(1) .element {
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.cell:nth-child(18) .element {
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.periodic-row:nth-child(10) .cell .element {
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.periodic-row:nth-child(1) .cell:nth-child(1) .element {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.periodic-row:nth-child(1) .cell:nth-child(18) .element {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.periodic-row:nth-child(10) .cell:nth-child(18) .element {
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

@media (min-width: 600px) {
    .periodic {
        height: 460px;
        margin-right: -2px;
    }
    .element {
        right: 2px;
        bottom: 2px;
    }
    .at_weight,
    .at_num,
    .at_details {
        opacity: 1;
        font-size: 4px;
    }
    .symbol {
        top: 5px;
        font-size: 14px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.75);
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    }
}

@media (min-width: 800px) {
    .at_num {
        font-size: 4px;
    }
    .at_details {
        text-align: center;
        line-height: 5px;
        top: initial;
        font-size: 5px;
    }
    .at_weight {
        opacity: 1;
    }
    .periodic {
        height: 540px;
    }
    .symbol {
        top: 4px;
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .periodic {
        height: 680px;
    }
    .at_weight,
    .at_num,
    .at_details {
        font-size: 5px;
    }
    .at_details {
        font-size: 6px;
        line-height: 7px;
    }
    .symbol {
        top: 6px;
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    .at_weight,
    .at_num,
    .at_details {
        font-size: 6px;
    }
    .at_details {
        bottom: 2px;
        font-size: 7px;
    }
    .symbol {
        top: 2px;
        font-size: 28px;
    }
}
